<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>    
    <div style="max-width: 60rem; padding-left: 1.5rem; padding-right: 1.5rem; margin-left: auto; margin-right: auto; box-shadow: 0px 6px 64px 14px;">
      <img src = "https://raw.githubusercontent.com/alafnan/alafnan.github.io/master/public/hnet.com-image (2).ico" alt="logo" style="float: right; width: 187px; height: 136px; padding-right: 0px;"/>
      <div style="margin-bottom: 7rem; padding: 1rem;   color: #000000;   background-color: #000000; font-family: Arial, Helvetica, sans-serif; font-size:0.8em; text-align: left;" >
      <header style="padding-top: 1rem; padding-bottom: 1rem;" >
        
        <h3 class="masthead-title">
          <a style:"color:#FFD700;" href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          <small style="font-size: 80%;">{{ site.tagline }}:</small><br>
          {% for page in site.pages_list %}
          &nbsp;&nbsp;&nbsp;
          <small style="font-size: 80%;"><a href="{{ page[1]  }}">{{ page[0] }}</a></small>
          {% endfor %}
        </h3>
      </header>
      </div>
      <main>
      {{ content }}
      </main>

      <footer class="footer">
        <p> Web visitors </p>
<a href = "" title="visitor counter widget"><img src="https://counter10.wheredoyoucomefrom.ovh/private/freecounterstat.php?c=yxa976g3mcg9xtkr1yzzbpffe882qr35" border="0" title="visitor counter widget" alt="visitor counter widget"></a>

        
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved | &nbsp; <a href="https://www.linkedin.com/in/bader-alafnan-353480122/">Bader Alafnan</a>
        </small>
      </footer>
    </div>

    {% if site.analytics_id %}
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', '{{ site.analytics_id }}', 'auto');left
ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
